$fg-neutral:  #f8f6f2;
$bg-top:      #000018;
$bg-bottom:   #2C1637;

$border-radius: 0; //0.6em;
$item-size: 160px;
$bouncy-timing-fn: cubic-bezier(0.850, 1.650, 0.000, 0.675);

html, body
{
    width:  100%;
    height: 100%;
}

a
{
    text-decoration: inherit;
    color: inherit;
}

html
{
    background-image: radial-gradient(farthest-corner at top, $bg-bottom, $bg-top);
    background-attachment: fixed;
}

body
{
    margin: 0;

    color: $fg-neutral;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
}

$overlay-animation: 0.2s;

#upload-view, #error
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //align-content: center;

    visibility: visible;
    opacity: 1;

    & > *
    {
        transform: scale(1.0);

        transition: transform $overlay-animation ease-out;
    }

    &.hidden
    {
        visibility: hidden;
        opacity: 0;

        & > *
        {
            transform: scale(0.5);
        }
    }

    transition: visibility $overlay-animation linear,
                opacity    $overlay-animation ease-out;
}

#upload-view
{
    background-color: rgba(0, 0, 0, 0.8);
}

#upload-image, #upload-video
{
    flex: 1 1 auto;

    border-radius: $border-radius;
    box-shadow: 0 0 20px black;
}

.upload-details
{
    flex-grow: 0;
    flex-shrink: 0;
}

#upload-list
{
    flex-grow: 0;
    flex-shrink: 0;

    background: linear-gradient(to top, fade-out($fg-neutral, .95) 1px, transparent 1px),
                linear-gradient(to top, fade-out($fg-neutral, .95) 1px, transparent 1px);
    background-size: $item-size/4 $item-size/4,
                     $item-size   $item-size;
    background-origin: content-box;

    padding: $item-size/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

$entry-animation: 1s;

.upload-entry
{
    flex-grow: 0;
    flex-shrink: 0;
    //margin-top:    1em;
    //margin-bottom: 1em;
    //margin-left:   1em;

    width:  $item-size;
    height: $item-size;
    border-radius: $border-radius;
    background-position: center;
    background-size: cover;
    //filter: grayscale(100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    visibility: visible;
    opacity: 1;
    background-position-y: 0px;
    background-repeat: no-repeat;

    > *
    {
        padding-left:  $border-radius;
        padding-right: $border-radius;
        background-color: rgba(0, 0, 0, 0.2);
    }

    > *:first-child
    {
        border-top-left-radius:  $border-radius;
        border-top-right-radius: $border-radius;
    }

    > *:last-child
    {
        border-bottom-left-radius:  $border-radius;
        border-bottom-right-radius: $border-radius;
        text-align: right;
    }

    &.loading
    {
        visibility: hidden;
        opacity: 0;
        background-position-y: $item-size;
    }

    transition: visibility $entry-animation linear,
                opacity    $entry-animation/2 ease-out,
                background-position-y $entry-animation $bouncy-timing-fn;
}

#source-link
{
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 1em;
    font-size: 0.7em;
}

#source-link::before
{
    content: "…what?";
}

#error
{
    .status-code
    {
        opacity: 0.2;
        font-size: 1500%;
        line-height: 90%;
    }

    .message
    {
    }
}

// remove dotted border around clicked things:
video:focus
{
    border: none;
    outline: 0;
    outline-style:none;
    outline-width:0;
}

